@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;

}