strong {
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    background-image: linear-gradient(45deg, #f06d6d, #4400ff);
    border-radius: 30px;
    padding: 22px;
    position: absolute;
    right: 29%;
}

em {
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    background-image: linear-gradient(45deg, #f06d6d, #4400ff);
    border-radius: 30px;
    padding: 22px;
    position: absolute;
    bottom: -180%;
    right: 40.5%;
}

/* Responsiveness */

@media screen and (max-width:600px) {
    strong {
        font-weight: 700;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
        background-image: linear-gradient(45deg, #f06d6d, #4400ff);
        border-radius: 30px;
        padding: 22px;
        position: absolute;
        font-size: 12.8px;
        right: 1%;
    }

    em {
        font-weight: 700;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
        background-image: linear-gradient(45deg, #f06d6d, #4400ff);
        border-radius: 30px;
        padding: 22px;
        font-size: 12.8px;
        position: absolute;
        bottom: -45em;
        right: 22%;
    }
}