nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    position: relative;
    z-index: 100;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #3f51b5;
}

nav a {
    text-decoration: none;
    color: #3f51b5;
}

nav a:hover {
    padding: 10px;
    border-bottom: 2px solid #3f51b5;
    transition: 1s;
}

#m_nav {
    display: none;
}

/* This is the responsiveness */


@media screen and (max-width: 600px) {

    #m_nav {
        display: inline-block;
    }

    nav {
        display: none;
    }

    #nav_1 {
        position: absolute;
        top: 4.5em;
        left: 10em;
        z-index: 100;
        text-decoration: none;
        color: #3f51b5;
    }

    #nav_2 {
        position: absolute;
        top: 4.5em;
        left: 13.5em;
        z-index: 100;
        text-decoration: none;
        color: #3f51b5;
    }

    #nav_3 {
        position: absolute;
        top: 4.5em;
        left: 17em;
        z-index: 100;
        text-decoration: none;
        color: #3f51b5;
    }

    #nav_4 {
        position: absolute;
        top: 4.5em;
        left: 24em;
        z-index: 100;
        text-decoration: none;
        color: #3f51b5;
    }

    #nav {
        padding: 10px;
        border-bottom: 2px solid #3f51b5;
        transition: 1s;
        z-index: 100;
    }

    #m_nav .m_nav:hover {
        padding: 3px;
        border-bottom: 2px solid #3f51b5;
        transition: 0.8s;
    }
}

@media screen and (max-width: 400px) {

    #m_nav {
        display: inline-block;
    }

    nav {
        display: none;
    }

    #nav_1 {
        position: absolute;
        top: 1.5em;
        left: 7.2em;
        z-index: 100;
        text-decoration: none;
        color: #3f51b5;
    }

    #nav_2 {
        position: absolute;
        top: 1.5em;
        left: 10.5em;
        z-index: 100;
        text-decoration: none;
        color: #3f51b5;
    }

    #nav_3 {
        position: absolute;
        top: 1.5em;
        left: 14em;
        z-index: 100;
        text-decoration: none;
        color: #3f51b5;
    }

    #nav_4 {
        position: absolute;
        top: 3.5em;
        left: 14.8em;
        z-index: 100;
        text-decoration: none;
        color: #3f51b5;
    }

    #nav {
        padding: 10px;
        border-bottom: 2px solid #3f51b5;
        transition: 1s;
        z-index: 100;
    }

    #m_nav .m_nav:hover {
        padding: 3px;
        border-bottom: 2px solid #3f51b5;
        transition: 0.8s;
    }
}